
.broadVideo {
    margin: auto;
    width: 40%;
    height: 25vw;
    margin-top: 5%;
    background: rgb(19, 37, 64, 0.8);
    border-radius: 30px;    
}

.btn-box {
    margin-top: 5rem;
}

.streamBtn {
    color: #f6f6f6;
    background-color: #302b70;
    border: none;
    font-size: large;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1rem;
    margin-right: 1rem;
}
.streamBtn:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}