@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
.end {
    height: 15rem;
}

/* landing page */
.welcome {
    margin-top: 2rem;
    text-align: left;
    padding-left: 18%;
    font-family: 'Montserrat', sans-serif;
    color: #132540;
    font-size: 1.5rem;
}
.welcome h1 {
    font-weight: 700;
    font-size: 4.5rem;
}
.welcome p {
    margin-top: 2rem;
}
.homeButton {
    color: #f6f6f6;
    background-color: #302b70;
    border: none;
    font-size: large;
    padding: 3%;
    border-radius: 8px;
    margin-top: 1rem;
}
.homeButton:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}
.about-img {
    height: 40rem;
    position: relative;
    padding-left: 5rem;
    padding-top: 5rem;
}

/* modes */
.modeChoice {
    margin-top: 8rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #132540;
    font-size: 1.5rem;
    padding-left: 18%;
    padding-right: 8%;
}
.modeChoice h1 {
    font-weight: 700;
    font-size: 4rem;
}
.customCard {
    margin-top: 2rem;
    background-color: rgb(62, 56, 148, 0.8);
    border-radius: 20px;
    color: #f2f3f6;
    padding-top: 1rem;
    width: 20rem;
    height: 20rem;
}
#customCardImg{
    height: 10rem;
    width: 12rem;
    align-self: center;
}
#customCardText {
    text-align: center;
}
.choiceButton {
    color: #302b70;
    background-color: #f0f2f6;
    border: none;
    padding: 3%;
    border-radius: 8px;
}
.choiceButton:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}
