video {
    width: 40vw;
    height: 30vw;
    margin: 2rem;
    margin-top: 5rem;
    background: rgb(19, 37, 64, 0.8);
    border-radius: 30px;
}
#video-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-box {
    margin-top: 4rem;
}
#av {
    color: #f6f6f6;
    background-color: #302b70;
    border: none;
    font-size: large;
    padding: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}
#av:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}
#avv {
    color: #f6f6f6;
    background-color: #302b70;
    border: none;
    font-size: large;
    padding: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}
#avv:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}
#cp {
    color: #f6f6f6;
    background-color: #302b70;
    border: none;
    font-size: large;
    padding: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}
#cp:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}
#ss {
    color: #f6f6f6;
    background-color: #302b70;
    border: none;
    font-size: large;
    padding: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}
#ss:hover {
    color: #f6f6f6;
    background-color: #787cd1;
    border: none;
}
#end {
    color: #f6f6f6;
    background-color:#5ec9cc;
    border: none;
    padding: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
}
#end:hover {
    background-color: #bc1823;
}